ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(6, 109, 168);
  
    top: 50px;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

@font-face {
    font-family:sa;
    src: url(FiraSans-Regular.otf)
}
body{
    background: url("mainbg.jpg") no-repeat center center fixed;
            
            -webkit-background-size: cover;
            -o-background-size: cover;                
            background-size: cover;
            text-align: center;

       
            }
           

h2, h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;	
    color:rgb(81, 175, 37) ;
   
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    }
h3 {font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;	
    color:rgb(32, 26, 107) ;
   
    margin: auto;
    text-align: center;
    margin-bottom: 30px;}
h4  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;	
    color:rgb(192, 89, 89) ;
    
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    }
p{
    font-family: sa;
    font-size: 14px;	
    line-height: 24px;
    color: #000000;
}


div{
    width: 750px;
    background-color:aliceblue;
    padding:20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
  
    border-width: 5px;
    border-style: ridge;
    border-color:rgb(112, 153, 230);
}
.director {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(119, 108, 160);
}	